<% projects.forEach(function(project){ %>
  <% userProjects.forEach(function(userProject) { %>
    <% if ( project.Id === userProject.ProjectId) { %>
      <div style="display:flex;">
        <div>
          <%= project.Id %>
        </div>
        <div>
          <%= project.StartDate.toLocaleDateString("en-US") %>
        </div>
        <div>
          <% let timeDiff = Math.abs(project.StartDate.getTime() - userProject.AssignedDate.getTime()) %>
          <%= Math.ceil(timeDiff / (1000 * 3600 * 24)) < 0 ? "Started" : Math.ceil(timeDiff / (1000 * 3600 * 24)) %>
        </div>
        <div>
          <%= project.EndDate.toLocaleDateString("en-US") %>
        </div>
        <div>
          <%= project.Credits %>
        </div>
        <div>
          <%= userProject.IsActive === true ? "Active" : "Inactive" %>
        </div>
      </div>
    <% }; %>
  <% }); %>
<% }); %>
